<?xml version='1.0' encoding='utf-8'?>
<widget id="com.mycompany.testapp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <content src="index.html" />
    <engine name="android" spec="7.1.1" />
    <engine name="windows" spec="^6.0.1" />
</widget>
