<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{heading}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content #pageContent fullscreen padding>
  <ion-list no-lines>

    <form [formGroup]="loginForm">

      <ion-item>
        <ion-label floating>Username</ion-label>
        <ion-input formControlName="username" type="text" [class.valid]="!formErrors.username" [class.invalid]="formErrors.username"></ion-input>
      </ion-item>
      <ion-item *ngIf="formErrors.username">
        <p class="invalid-text">{{formErrors.username}}</p>
      </ion-item>
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input formControlName="password" type="password" [class.valid]="!formErrors.password" [class.invalid]="formErrors.password"></ion-input>
      </ion-item>
      <ion-item *ngIf="formErrors.password">
        <p class="invalid-text">{{formErrors.password}}</p>
      </ion-item>

    </form>
    <button ion-button full color="primary" (click)="save()">Sign In!</button>
    <button ion-button full color="primary" (click)="goToRegister()">Sign Up!</button>
  </ion-list>
</ion-content>