categories-slider {
    .categories-filter{
        margin-top: 5%;
        margin-bottom: 5%;
        .swiper-slide img {
            width:50px !important;
            height:50px !important;
            // -webkit-border-radius: 50%;
            // border-radius: 50%;
        }    
    }
    
}
