<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{heading}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content #pageContent fullscreen padding>
  <ion-list no-lines>

    <form [formGroup]="regsiterForm">

      <ion-item>
        <ion-label floating>Name</ion-label>
        <ion-input formControlName="name" type="text" [class.valid]="!formErrors.name" [class.invalid]="formErrors.name"></ion-input>
      </ion-item>
      <ion-item *ngIf="formErrors.name">
        <p class="invalid-text">{{formErrors.name}}</p>
      </ion-item>

      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input formControlName="email" type="text" [class.valid]="!formErrors.email" [class.invalid]="formErrors.email"></ion-input>
      </ion-item>
      <ion-item *ngIf="formErrors.email">
        <p class="invalid-text">{{formErrors.email}}</p>
      </ion-item>

      <ion-item>
        <ion-label floating>Contact</ion-label>
        <ion-input formControlName="contact" type="text" [class.valid]="!formErrors.contact" [class.invalid]="formErrors.contact"></ion-input>
      </ion-item>
      <ion-item *ngIf="formErrors.contact">
        <p class="invalid-text">{{formErrors.contact}}</p>
      </ion-item>

      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input formControlName="password" type="password" [class.valid]="!formErrors.password" [class.invalid]="formErrors.password"></ion-input>
      </ion-item>
      <ion-item *ngIf="formErrors.password">
        <p class="invalid-text">{{formErrors.password}}</p>
      </ion-item>

      <ion-item>
        <ion-label floating>Confirm Password</ion-label>
        <ion-input formControlName="passconf" type="password" [class.valid]="!formErrors.passconf" [class.invalid]="formErrors.passconf"></ion-input>
      </ion-item>
      <ion-item *ngIf="formErrors.passconf">
        <p class="invalid-text">{{formErrors.passconf}}</p>
      </ion-item>


    </form>
    <button ion-button full color="primary" (click)="save()">Sign Up!</button>
  </ion-list>
</ion-content>