// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.valid {
    border-bottom: 1px solid #53ea8d;
}

.invalid {
    border-bottom: 1px solid #ea6153;
}
.invalid-text {
    color: #ea6153 !important;
}


.circle-pic{
  width:50px;
  height:50px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

ion-loading.my-loading-fire {
    .loading-wrapper {
      background: transparent;
      box-shadow: none;
      margin-left: 200px;
    }
  }
  ion-loading.my-loading-water {
    .loading-wrapper {
      background: transparent;
      box-shadow: none;
      margin-right: 200px;
    }
  }


.accordion-list {
    // background: color($colors, light);
    height: 100%;

    .list-header-md {        
        margin-bottom: 5px !important;         
    }
}
.section {
    background: #fff;    
}
.section-active {
    background: color($colors, primary);
    color: #fff;
}

.child {    
    margin-left: 15px;      
}
.child-item {    
    padding: 0px;
    margin-left: 10px;
}
.label {
    margin: 0px;
}
.list {
    margin-bottom: 0px;
}