<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{heading}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content #pageContent fullscreen padding>
  <ion-list no-lines>

    <form [formGroup]="passForm">
     
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input formControlName="password" type="password" [class.valid]="!formErrors.password" [class.invalid]="formErrors.password"></ion-input>
      </ion-item>
      <ion-item *ngIf="formErrors.password">
        <p class="invalid-text">{{formErrors.password}}</p>
      </ion-item>

      <ion-item>
        <ion-label floating>Password Confirm</ion-label>
        <ion-input formControlName="passconf" type="password" [class.valid]="!formErrors.passconf" [class.invalid]="formErrors.passconf"></ion-input>
      </ion-item>
      <ion-item *ngIf="formErrors.passconf">
        <p class="invalid-text">{{formErrors.passconf}}</p>
      </ion-item>

    </form>
    <button ion-button full color="primary" (click)="save()">Update!</button>    
  </ion-list>
</ion-content>